.ProjectCard{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.ProjectCard h4{
    background-color: #222;
    color: #ffbb33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.ProjectCard p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.ProjectCard p span {
   font-weight: bold; 
}

.CategoryText {
    display: flex;
    align-items: center;
}

.CategoryText span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.CategoryText .Infra {
    background-color: #ffaebc;
}

.CategoryText .Desenvolvimento {
    background-color: #a0e7e5;
}

.CategoryText .Design {
    background-color: #b4f8c8;
}

.CategoryText .Planejamento {
    background-color: #fbe7c6;
}

.ProjectCardActions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.ProjectCardActions a,
.ProjectCardActions button{
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.ProjectCardActions svg{
    margin-right: .5em;
}

.ProjectCardActions a:hover,
.ProjectCardActions button:hover{
    background-color: #222;
    color: #ffbb33;
}