.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.List {
    display: flex;
    list-style: none;
    align-items: center;
}

.Item{
    margin-right: 1em;
}

.Item a {
    color: #FFF;
    text-decoration: none;
}

.Item a:hover {
    color: #FFBB33;
}